.ToolTip {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}

.ToolTip .ToolTipText {
    -webkit-text-fill-color: #ffffff;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.ToolTip .ToolTipText::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.ToolTip:hover .ToolTipText {
    visibility: visible;
}

.copySvg svg {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

@media (max-width: 640px) {
    .ToolTipText {
        display: none;
    }
}